@media print {
    @page {
        size: 85.60mm 53.98mm;
        margin: 0;
        /* Adjust dimensions as needed */
    }

    .prepaidcard {
        width: 85.60mm;
        /* Credit card width */
        height: 53.98mm;
        /* Credit card height */
        border: 1px solid black;
        /* Optional: for visual reference */
        box-sizing: border-box;
        page-break-before: always;
        /* Start each card on a new page */
        margin: 0;
        /* Remove card margin */
        padding: 0;
        /* Remove card padding */
    }

    body {
        margin: 0;
        padding: 0;
    }
}

body {
    margin: 0;
    padding: 0;
}

.prepaidcard {
    width: 85.60mm;
    /* Credit card width */
    height: 53.98mm;
    /* Credit card height */
    border: 1px solid black;
    /* Optional: for visual reference */
    box-sizing: border-box;
    margin-bottom: 10px;
    /* Space between cards on screen */
}

.prepaidcard .container {
    position: relative;
    width: 100%; height: 100%;
    margin: 0px; padding: 0px;
    overflow: hidden;
}

.qrcode {
    position: absolute; top: 10px; left: 10px;
    width: 140px; height: 140; padding: 10px; 
    border-radius: 0.5em; border: 2px solid darkgray;
    box-sizing: border-box; overflow: hidden;
}

.qrlabel {
    position: absolute; bottom: 10px;
    transform: translate(20px, -50%);
}

.pricetag {
    position: absolute; top: 30px;
    right: 25px; font-size: 70pt;
    max-width:150px; direction: rtl;
    text-overflow: clip;
    text-wrap: nowrap;  text-align: center;
}
.pricetag::after {
    content: attr(price);
    font-size: 15pt;
    position: absolute; bottom: -15px; right: 10px;
}